@import '../../../../variables.scss';

.swiper_custom {
    padding: 0px 80px;
}

.slide {
    user-select: none;

    &__title {
        font-family: Bebas Neue;
        color: $secondary;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
}