.sliderControls {

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: #fff;
        filter: drop-shadow(0px 0px 15px rgba(56, 119, 238, 0.10));
        z-index: 40;
        border-radius: 50%;

        &_next {
            right: 0;
        }

        &_prev {
            left: 0;
            transform: rotate(180deg);
        }

        &:disabled {
            display: none;
        }
    }
}